<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta property="og:title" content="Bldonors">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Bldonors
        </title>
         {% load static %}
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    </head>

  <body>
  <section class="sub-header">
      <nav>
          <a href="/"><img src="../static/images/logo2.png"></a>
          <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/donor">Donor</a></li>
                <li><a href="/bloodreq">Request</a></li>
                <li> <a href="/stock">Stock</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
          </div>
          <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
<h1>Our Terms & Policy</h1>
</section>

<section class="terms-section">
    <div class="row">
      <div class="terms-col">
          <p>Bldonors (“Bldonors”, “us”, “we”, or “our”) operates <a href="/" target="_blank">https://www.bldonors.com</a> (the
            “Site”). This page informs you of our policies regarding the collection, use and disclosure of Personal
            Information we receive from users of the Site. We use your Personal Information we collect to operate,
            maintain and provide you the features and functionality of the the Site to analyze how the Site is used,
            diagnose service or technical problems, maintain security, personalize content, remember information to help
            you efficiently access your account, monitor aggregate metrics such as total number of visitors, traffic,
            and demographic patterns. By using the Site, you agree to the collection and use of information in
            accordance with this policy.

          </p><br>
          <h4>WHAT DO WE DO</h4>
          <ol style="padding-left:1%;margin-top:1%">
            <li>
              <p>1. Web application to register for blood donation and track blood supply chain history</p>
            </li>
            <li>
              <p>2. Create a harmonized nationwide donor database</p>
            </li>
            <li>
              <p>3. Develop a stock inventory of blood collection, supply and wastage</p>
            </li>
          </ol>
          <br>
          <h4>WHAT INFORMATION WE COLLECT</h4>
          <ol style="padding-left:1%;margin-top:1%">
            <li>
              <h5 style="color:#cf3d3c">1. When visiting our site – <a href="/" target="_blank">https://www.bldonors.com</a></h5>
              <ul style="padding-left:1%;margin-top:1%">
                <li>Non-Personal Information: <p>track, collect information but not limited to IP address, URLs from
                    which
                    people arrived to our website, operating system used, browser, page visited in our website, links
                    clicked</p>
                </li>
                <li style="margin-top:1%">
                  Personal Information:<p>
                    After registration – Name, Mobile #, Email, DoB, Gender, Address, Blood Type, Previous donation
                  </p>
                </li>
              </ul>
            </li>
            <li><br>
              <h5 style="color:#cf3d3c">2. From Blood Donation Events</h5>
              <ul style="padding-left:1%;margin-top:1%">
                <li>Personal Information: <p>After registration – Name, Mobile #, Email, DoB, Gender, Address, Blood
                    Type, Previous donation</p>
                </li>
              </ul>
            </li>
          </ol>
          <br>
          <h4>HOW WE USE THE INFORMATION</h4>
          <ul style="padding-left:1%;margin-top:1%">
            <li>Non-Personal Information: <p>web analytics, user behaviour</p>
            </li>
            <li style="margin-top:1%">
              Personal Information:<p>
                1. Login to our website<br>
                2. verify identification of user<br>
                3. Notification for blood donation events<br>
                4. Search, request for blood for third parties<br>
                5. Blood banks, hospitals to track their collection and supply data<br>
                6. Notification of donor’s blood usage<br>
              </p>
            </li>
          </ul><br>
          <h6 style="letter-spacing: 1px;line-height:20px;color:#cf3d3c">If you have any privacy-related questions or
            unresolved
            problems, you may
            contact us via
            <a href="mailto:biratkhadka6@gmail.com">biratkhadka6@gmail.com</a> with the subject line “Privacy Policy”.
          </h6>
        </div>
    </div>
</section>






 <!------Footer-->
<section class="footer">
    <h4>About Us</h4>
    <p>Bldonors is an innovative approach to address global health. We provide immediate access to blood donors all over Nepal, 24 hours a day, 7 days a week! Bldonors is one of several community organizations working together as a network that respond to disasters or emergency situations in an efficient manner.</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-envelope"></i>
    </div>
    <p> Bldonor Foundation, Inc 
        Made with <i class="fa fa-heart-o"></i> by Birat Khadka 
        <i class="fab">@2020-2021 |</i>
</section>



<!---javascript for toggle Menu -->
 <script>
      var navLinks =  document.getElementById("navLinks");
      function showMenu(){
          navLinks.style.right = "0";
      }
      function hideMenu(){
          navLinks.style.right = "-200px";
      }
 </script>
</body>
</html>